<?xml version="1.0" encoding="utf-8"?>
<!--

/**
 * Codisto LINQ Sync Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @package   Codisto_Connect
 * @copyright 2016-2017 On Technology Pty. Ltd. (http://codisto.com/)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://codisto.com/connect/
 */

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Codisto_Connect::marketplaces" title="Marketplaces | Codisto" module="Codisto_Connect" sortOrder="100" parent="Magento_Backend::marketing" resource="Codisto_Connect::marketplaces" />
		<add id="Codisto_Connect::listings" title="Marketplace Listings" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/listings" resource="Codisto_Connect::listings"/>
		<add id="Codisto_Connect::orders" title="Marketplace Orders" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/orders" resource="Codisto_Connect::orders"/>
		<add id="Codisto_Connect::attributes" title="Attribute Mapping" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/attributes" resource="Codisto_Connect::attributes"/>
		<add id="Codisto_Connect::categories" title="eBay Store Categories" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/categories" resource="Codisto_Connect::categories"/>
		<add id="Codisto_Connect::import" title="Link Listings" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/import" resource="Codisto_Connect::import"/>
		<add id="Codisto_Connect::settings" title="Settings" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/settings/index" resource="Codisto_Connect::settings"/>
		<add id="Codisto_Connect::account" title="Account" module="Codisto_Connect" sortOrder="0" parent="Codisto_Connect::marketplaces" action="codisto/account" resource="Codisto_Connect::account"/>
	</menu>
</config>
